<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create account</title>
</head>
<body>
    <h1>Create Account</h1>
    <form action="{% url 'authenticate:add_account'%}" method="post">
        {% csrf_token %}
        username:<input type="text" name="username"><br>
        password:<input type="text" name="password"><br>
        <input type="submit" value="create account">
    </form>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
</body>
</html>