{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static "javascript/jquery-3.3.1.js" %}"></script>
    <title>Login</title>
    <script>
         var mp = {};
        $.ajaxSetup({
             data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $(document).ready(function(){
        $("#password").keydown(function(event){
           // document.getElementById("demo").innerHTML=event.which;
            if(!filterWhiteKey(event)){
                return true;
            }
	        var key = String(event.which);
	        var time = new Date().getTime();
	        console.log(mp);
	        if(mp[key] == null){
		        mp[key] = new Array();
		        mp[key].push({"key":key, "time":time, "type":"d"})
	        }else{
		        if(mp[key][mp[key].length-1].type !== "d"){
			    mp[key].push({"key":key, "time":time, "type":"d"})
		        }
	        }
        });
        $("#password").keyup(function(event){
            //document.getElementById("demo2").innerHTML=event.which;
            if(!filterWhiteKey(event)){
                return true;
            }
	        var key = String(event.which);
	        var time = new Date().getTime();
	        if(mp[key] == null){
		        mp[key] = new Array();
	        }
	        mp[key].push({"key":key, "time":time, "type":"u"})
        });
	    $("#login").click(function(){
	        //document.getElementById("out").innerHTML= mp.toString();
            console.log("submit");

            var flag = false;
            $.ajax({
                async:false,
                type: "post",
                url: "{% url "authenticate:get_keystroke"%}",
                dataType: "json",
                data: JSON.stringify({
                    username: document.getElementById("username").value,
                    password: document.getElementById("password").value,
                    mp: mp
                }),
                success: function (data) {
                   console.log(data);
                   if(data.retry_message){
                       alert(data.retry_message);
                       mp = {};
                       $("#password").val("");
                   }else if(data.error_message){
                       alert(data.error_message);
                   } else if(data.train_message){
                       flag = true;
                       alert(data.train_message);
                   } else if(data.answer === "1"){
                       flag = true;
                       alert("authenticate success");
                   } else if(data.answer === "0"){
                       alert("authenticate fail");
                   }
                }
            });
            console.log(flag);
            if(flag == true){
                flag = false;
                return true;
            }else {
                return false;
            }
        });
	    $("#clear").click(function () {
            mp = {};
            $("#password").val("");
            return false;
        });
    });

    function filterWhiteKey(event) {
        var whiteKeySet = new Set([8])
        if(whiteKeySet.has(event.which)){
            console.log("filter " + event.which)
            return false;
        }
        return true;
    }

    </script>
</head>
<body>
    <h1>Welcome!</h1>
    <form method="post">
        {% csrf_token %}
        username:<input type="text" name="username" id="username"><br>
        password:<input type="password" name="password" id="password" onkeydown="if(event.which === 13) return false"><br>
        <input type="submit" value="login" id="login" formaction="{% url 'authenticate:authenticate'%}" formmethod="post"/>
        <input type="submit" value="create account" id="createAccount" formaction="{% url 'authenticate:add_account'%}" formmethod="post"/>
        <!--<button type="submit" id="test">submit keystroke</button> -->
        <button type="button" id="clear">clear password</button>
    </form>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
</body>
</html>